<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 규칙</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>게시판 이용 규칙</h1>
    <div class="rules">
        <ul>
            <li>1. 욕설 금지</li>
            <li>2. 타인에게  심한 불쾌감을 주는 게시글/댓글 금지</li>
            <li>3. 범죄를 조장하는 내용이 포함된 글 작성 금지</li>
            <li>4. 도배/무분별한 삭제 금지</li>
            <li>5. 위반시 게시글 삭제 및 공지사항에 박제</li>
        </ul>
    </div>
    <a href="{{ url_for('hello') }}">메인 페이지로 돌아가기</a>
</body>
</html>
