{% extends 'base.html' %}

{% block title %}{{ board['name'] }}게시판{% endblock %}

{% block content %}
    <div class="board-header">
        <h1>{{ board['name'] }}</h1>
        <a href="{{ url_for('create', board_id=board['id']) }}" class="btn btn-primary btn-sm">글쓰기</a>
    </div>

    <div class="board-table-wrapper">
        <table class="board-table">
            <thead>
                <tr>
                    <th class="col-no">번호</th>
                    <th class="col-title">제목</th>
                    <th class="col-author">작성자</th>
                    <th class="col-date">작성일</th>
                </tr>
            </thead>
            <tbody>
                {% if notices %}
                    {% for post in notices %}
                    <tr class="notice-row">
                        <td class="col-no"><span class="badge-notice">공지</span></td>
                        <td class="col-title">
                            <a href="{{ url_for('post', post_id=post['id']) }}">{{ post['title'] }}</a>
                        </td>
                        <td class="col-author">{{ post['author'] }}</td>
                        <td class="col-date">{{ post['created'][:10] }}</td>
                    </tr>
                    {% endfor %}
                {% endif %}

                {% for post in posts %}
                <tr>
                    <td class="col-no">{{ loop.revindex }}</td>
                    <td class="col-title">
                        <a href="{{ url_for('post', post_id=post['id']) }}">{{ post['title'] }}</a>
                    </td>
                    <td class="col-author">{{ post['author'] }}</td>
                    <td class="col-date">{{ post['created'][:10] }}</td>
                </tr>
                {% else %}
                    {% if not notices %}
                    <tr>
                        <td colspan="4" class="empty-message">아직 게시물이 없습니다.</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
